:root {
    --mainColor: #46344E;
    --secondaryColor: #382a3f;
    --borderColor: #1d1520;
    --mainText: #fff;
    --secondaryText: #eeeeee;
    --themeDotBorder: #FFF;
    --previewBg: rgb(29, 21, 32, 0.8);
    --previewShadow: #2b202f;
    --buttonColor: #8534a3;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body * {
    transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.greeting-wrapper strong {
    font-size: 45px;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';
}

.nav-wrapper {
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

#navigation a {
    color: var(--mainText);
}

#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

.git-icon {
    width: 100%;
    width: 120%;
}

.linkedin-icon {
    width: 100%;
    width: 112%;
    margin-left: .5px;
}

.browser-dot {
    height: 30px;
    width: 30px;
    margin: 5px;
    /*  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);*/
    cursor: pointer;
    background-color: #ffff;
}

.left-column {
    grid-area: left-column;
    padding: 50px;
}

#profile_pic {
    display: block;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

#theme-options-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.option-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.theme-dot {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.theme-dot:hover {
    border-width: 3px;
}

#light-mode {
    background-color: #fff;
}

#blue-mode {
    background-color: #192734;
}

#green-mode {
    background-color: #78866b;
}

#purple-mode {
    background-color: #7E4C74;
}

#settings-note {
    font-size: 12px;
    font-style: italic;
    text-align: end;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

#preview-shadow {
    background-color: var(--previewShadow);
    max-width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

.corner {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px
}

#corner-tr {
    top: -5px;
    right: -5px
}

#corner-br {
    bottom: -5px;
    right: -5px
}

#corner-bl {
    bottom: -5px;
    left: -5px
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
}

.resume {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.skills-header {
    text-align: left;
}

.social-links {
    display: grid;
    align-content: center;
    text-align: center;
}

.social-links h5,
.social-links h6,
.social-links p {
    margin-bottom: -10px;
}

.course-wrapper {
    height: 300px;
    border: 1px solid var(--borderColor);
    margin-bottom: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(./images/qa_course.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-weight: bold;
}

.course-title {
    font-size: 30px;
    text-transform: uppercase;
}

.automation-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(./images/automation2.png) !important;
}

.front-end-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(./images/web-course1.webp) !important;
}

.commin-soon {
    font-size: 14px;
    margin-bottom: 1px;
    color: #17a2b8;
}

#social_img {
    width: 100%;
}

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 90px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview {
    background-color: #fff;
    padding: 15px;
}

.post-title {
    color: black;
    margin: 0;
}

.post-intro {
    color: #4b5156;
    font-size: 14px;
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

#contact-form label {
    line-height: 2.7em;
}

#contact-form textarea {
    min-height: 100px;
    font-size: 14px;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 'nav-wrapper' 'left-column' 'right-column';
    }
    .right-column {
        justify-content: center;
        padding-left: 0;
        margin-right: 20px;
    }
}

@media screen and (max-width: 400px) {
    #preview-shadow {
        max-width: 280px;
        height: 180px;
        padding-left: 10px;
        padding-top: 10px;
    }
    #preview {
        width: 280px;
    }
}


/** Acordeon **/

.accordion {
    margin: 40px 0;
}

.first-container {
    margin-top: -60px;
}

.acc-container {
    margin-bottom: -10px;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 7px;
}

.acc-title {
    max-width: 100%;
    background: #222;
    color: #fff;
    border-radius: 4px;
    padding: 14px 20px;
    font-weight: normal;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.acc-active .acc-title,
.acc-title:hover {
    background: #565656;
    cursor: pointer;
}

.acc-title:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 25 25'%3E%3Cline x1='6' y1='12.5' x2='19' y2='12.5' fill='none' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' vector-effect='non-scaling-stroke' /%3E%3Cline y1='6' x1='12.5' y2='19' x2='12.5' fill='none' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' vector-effect='non-scaling-stroke' /%3E%3C/svg%3E");
    /*Plus sign*/
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -12.5px;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.acc-active .acc-title:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 25 25'%3E%3Cline x1='6' y1='12.5' x2='19' y2='12.5' fill='none' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' vector-effect='non-scaling-stroke' /%3E%3C/svg%3E");
    /*Minus sign*/
}

.acc-content {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.acc-active .acc-content {
    padding: 24px 0;
    max-height: 500px;
    overflow-y: auto;
    opacity: 1;
}

.tech-stack-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.jira-circle {
    background-image: url(./images/jira.png) !important;
}

.confluence-circle {
    background-image: url(./images/confluence.png) !important;
}

.postman-circle {
    background-image: url(./images/postman.png) !important;
}

.testrail-circle {
    background-image: url(./images/testrail-icon.png) !important;
}

.html-circle {
    background-image: url(./images/html5-512.webp) !important;
}

.css-circle {
    background-image: url(./images/sass.png) !important;
}

.js-circle {
    background-image: url(./images/js.png);
}

.java-circle {
    background-image: url(./images/javalogo.jpg);
}

.selenium-circle {
    background-image: url(./images/SeConf_logo.png);
}

.jenkins-circle {
    background-image: url(./images/jenkins.png);
}

.maven-circle {
    background-image: url(./images/maven.png);
}

.tech-stack-circle p {
    margin-left: -5px;
    margin-top: 50px;
    font-size: 14px;
}

.confluence {
    margin-left: -20px !important;
}

.testrail {
    margin-left: -10px !important;
}

.tech-stack-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.javascript {
    margin-left: -15px !important;
}

.css3,
.maven {
    margin-left: 3px !important;
}

.selenium {
    margin-left: -9px !important;
}

.jenkins {
    margin-left: -4px !important;
}


/** End of acordeon **/